# Node modules
node_modules/
package-lock.json

# Python caches
__pycache__/
*.pyc

# User Data / Uploads
uploads/
*.jpg
*.jpeg
*.png
*.pdf

# Environment variables
.env

# Large training datasets
ml-model/Train-1542865627584.csv
ml-model/Train_Beneficiarydata-1542865627584.csv
ml-model/Train_Inpatientdata-1542865627584.csv
